*{
    margin: 0;
    padding: 0;
}



/* top slider */

#slideShow_top{
  /* width: 83%; */
  margin: auto;
  height: 410px;
  cursor: pointer;
}
#slideShow_top {
 background-image: url();
}
#path{
  margin-left: 40% ;
  margin-top: 15px ; 
  margin-bottom: 40px ;   
}

/* main div */
#Home_div {
    width: 90%;
    margin: auto;
  }

  #slider_container_div {
    width: 100%;
    height: 327px;
    position: relative;
    overflow: hidden;

    margin-bottom: 30px;
  }

  #slider_bag,
  .slider_bag {
    width: 1000%;
    height: 100%;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.75s ease;
  }

  #slider_container_div .slideBox {
    height: 100%;
    float: left;
  }
  #slider_container_div .slideBox p {
    line-height: 20px;
    color: #000;
  }
  #slider_container_div .slideBox a {
    text-decoration: none;
  }

  /* me */

  .slideBox > a > div > img {
    height: 85%;
    width: 70%;
  }

  .slideBox {
    /* height:70%;
 width:57%; */
    margin: 0 -80px;
  }
  /* me */

  #slider_bag > div,
  .slider_bag > div {
    margin-left: 5px;
  }

  #slider_bag > div:nth-child(1),
  .slider_bag > div:nth-child(1) {
    margin-left: 0;
  }

  #slider_container_div .btn {
    position: absolute;
    top: 40%;
    color: rgb(221, 219, 219);
    text-decoration: none;
    padding-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
  }

  #next,
  #next2 {
    right: 0;
  }

  #prev:hover,
  #next:hover,
  #prev2:hover,
  #next2:hover {
    color: rgb(192, 192, 192);
  }



  /* purpple slider css */

  .brand_slider_div1 {
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  
  .slider_div1 {
    grid-gap: 1rem;
    gap: 3rem;
    padding: 0 0.8rem;
    margin: 0 -0.8rem;
    display: flex;
    left: 0;
    transition: left 0.3s ease-out;
    position: relative;
  }
  
  .slider_box_p {
    border: 1 solid #fff;
    box-sizing: content-box;
    min-width: 15rem;
    max-width: 15rem;
  }
  
  .sliderBoxx {
    flex-shrink: 0;
    width: 100%;
  }
  
  .link_sliderTopage1,
  .link_sliderTopage1:active,
  .link_sliderTopage1:hover {
    text-decoration: none;
    color: inherit;
  }
  
  .link_sliderTopage1 img {
    width: 100%;
  }
  
  
  .brand_slider_div1 .butonp {
    position: absolute;
    top: 40%;
    text-decoration: none;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
    margin: -0.1rem;
    background: transparent;
    border: transparent;
    cursor: pointer;
  }
  
  #rightSwipep {
    right: 0;
  }


  /* animated slider */


  
  .brand_slider_div2 {
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  
  .slider_div2 {
    grid-gap: 1rem;
    gap: 3rem;
    padding: 0 0.8rem;
    margin: 0 -0.8rem;
    display: flex;
    left: 0;
    transition: left 0.3s ease-out;
    position: relative;
  }
  
  .slider_box_a {
    border: 1 solid #fff;
    box-sizing: content-box;
    min-width: 15rem;
    max-width: 15rem;
  }
  
  .sliderBoxxx {
    flex-shrink: 0;
    width: 100%;
  }
  
  .link_sliderTopagea,
  .link_sliderTopagea:active,
  .link_sliderTopagea:hover {
    text-decoration: none;
    color: inherit;
  }
  
  .link_sliderTopagea img {
    width: 100%;
  }
  
  
  .brand_slider_div2 .butona {
    position: absolute;
    top: 40%;
    text-decoration: none;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
    margin: -0.1rem;
    background: transparent;
    border: transparent;
    cursor: pointer;
  }
  
  #rightSwipea {
    right: 0;
  }
  
 
  /* card vala slider */

  .brand_slider {
    width: 90%;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    grid-gap: 1rem;
    gap: 2.7rem;
    padding: 0 0.8rem;
    margin: 0 -0.8rem;
    display: flex;
    left: 0;
    transition: left 0.3s ease-out;
    position: relative;
  }
  
  .Slider_card_div {
    border: 1 solid #fff;
    box-sizing: content-box;
    min-width: 15rem;
    max-width: 15rem;
  }
  
  .slider_imgbox {
    flex-shrink: 0;
    width: 100%;
  }
  
  .sliderCard_to_page,
  .sliderCard_to_page:active,
  .sliderCard_to_page:hover {
    text-decoration: none;
    color: inherit;
  }
  
  .sliderCard_to_page img {
    width: 100%;
  }
  
  
  .brand_slider .buttons {
    position: absolute;
    top: 40%;
    text-decoration: none;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: -0.1rem;
    background: transparent;
    border: transparent;
    cursor: pointer;
  }
  .brand_slider .buttons1 {
    position: absolute;
    top: 40%;
    text-decoration: none;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: -0.1rem;
    background: transparent;
    border: transparent;
    cursor: pointer;
  }
  
  #rightSwipe {
    right: 0;
  }
  #rightSwipe1 {
    right: 0;
  }
  
  #slider_heading{
       font-family: 'Open Sans Condensed', sans-serif;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0px 0 10px 0;
      color: #2c414c;
  }
#each_slider_heading{
  width: 83%;
  margin: auto;
}

/* last slider of the page */

.brand_slider_div {
  width: 90%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slider_div {
  grid-gap: 1rem;
  gap: 3rem;
  padding: 0 0.8rem;
  margin: 0 -0.8rem;
  display: flex;
  left: 0;
  transition: left 0.3s ease-out;
  position: relative;
}

.slider_box_f {
  border: 1 solid #fff;
  box-sizing: content-box;
  min-width: 15rem;
  max-width: 15rem;
}

.slid_boxer {
  flex-shrink: 0;
  width: 100%;
}

.link_sliderTopage,
.link_sliderTopage:active,
.link_sliderTopage:hover {
  text-decoration: none;
  color: inherit;
}

.link_sliderTopage img {
  width: 100%;
}


.brand_slider_div .buton {
  position: absolute;
  top: 40%;
  text-decoration: none;
  padding-left: 0.1rem;
  padding-right: 0.2rem;
  margin: -0.1rem;
  background: transparent;
  border: transparent;
  cursor: pointer;
}

#rightSwipe10 {
  right: 0;
}

#slider_heading{
     font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px 0 10px 0;
    color: #2c414c;
}


  /* purple grid 1 */

  .grid-container {
    width: 100%;
    grid-gap: 20px;
    display: grid;

    grid-template-columns: auto auto;

    padding: 10px;
  }
  .grid-item >img {
    width: 99%;
    height: 99%;
   
  }

  #heading_img >img{
    width: 99%;
  }

  /* white skine type section  */
#skinType_section{
 width: 100%;
display: flex;
}
#left_white_part{
    flex: 3;
    padding: 3%;
}
#right_image{
    flex: 2;
    
}
#right_image > img{
    height: 90%;
    width: 60%;
    margin-right: 1%;
}
#left_white_part>h2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0px 0 10px 0;
  color: #2c414c;
}

#three_skin_type{
  width: 100%;
    display: flex;
}
.skin_imgage{
  height: 100%;
  width: 100%;
}
.skin_imgage > img{
    height: 40%;
    width: 60%;
   
   
}

#skin_tone{
    display: flex;
}
.tone_img{
  width: 100%;
  height: 100%;
}
.tone_img > img{
    height: 100%;
    width: 100%;
}

.grid-container_four_cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* padding: 10px; */
  height: 80%;
  width: 83%;
  margin: auto;
}
.grid-item_sq {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
 width: 100%;
 height: 85%;
 overflow: hidden;
 margin-bottom: -145px;
 margin-left: 2%;
}
.grid-item_sq > img{
  height: 150%;
  width: 90%;
  
}
/* gif makeup guide */
#makeup_guide{
  display: flex;
 
}
.makeup_card{
  margin: 10px;
}
.makeup_card > img{
  height: 95%;
  width: 90%;
}





/* heading image hereon fallow this css */

.heading_img1{
  width: 99%;
}
.heading_img1>img{
  width: 100%;
}
/* home secondary div */

/* brand store */

.grid-container_brands {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 2%;
  
}
.grid-item_brands > div{
  height: 99%;
  width: 99%;
}
.grid-item_brands > img{
  width: 90%;
  height: 90%;
}

/* trending serches */
#trending_search{
  width: 100%;
  display: flex;
}

.trend_search >img{
  width: 105%;
  height: 102%;
  padding: 3%;
  margin: 0 80%;
}



/* lifestyle section */
#Home_secondary_div{
  width: 90%;
  margin: auto;
}

.grid-container_lifestyle {
  display: grid;
  grid-template-columns: auto auto;
 
}
.grid-item_lifestyle {

  padding: 1% 1% 1% 1%;
 
 
}
.grid-item_lifestyle >img{
  height: 98%;
  width: 100%;
}



/* marketing stuff insta*/

#insta_vid{
  width: 90%;
  margin: auto;
}
#insta_videos{
  display: flex;
}
.insta_video_div > img{
  height: 100%;
  width: 70%;
}

/* innovation at its peak */
#innovation_div{
  width: 90%;
  margin: auto;
}
#innovation_div > #inno_div{
  width: 100%;
 
}
#inno_div{
  display: flex;
}
.inno_card > div{
  height: 90%;
  width: 50%;
}
.inno_card > img{
  width: 50%;
  height: 100%;
}

/* pocket friendly store */

#pocket_friendly{
  width: 90%;
  margin: auto;
}
#pocket_friend{
  width: 99%;
  display: flex;
}
.pocket_div {
  height: 100%;
  width: 95%;
  
}
.pocket_div > img{
  height: 100%;
  width: 100%;
 
}
































